
.office {
    width: 100%;
	height: calc(100vh - 120px);
	margin-top: 10px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#counter {
    position: relative;
    display: inline;
}
#k3k1 {
    position:absolute;
    left:47.5%;
    top:-1010%;
    max-width: 24%;
    transition: transform .5s; 
    opacity: 1;
}

#k3k1:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k3k2 {
    position:absolute;
    left:55%;
    top:350%;
    max-width: 17%;
    transition: transform .5s; 
    opacity: 1;
}

#k3k2:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}


#k3k3 {
    position:absolute;
    left:77%;
    top:-600%;
    max-width: 16%;
    transition: transform .5s; 
    opacity: 1;
}

#k3k3:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
}


#k3k4 {
    position:absolute;
    left:33%;
    top:350%;
    max-width: 16%;
    transition: transform .5s; 
    opacity: 1;
}

#k3k4:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k3k5 {
    position:absolute;
    left:26.6%;
    top:-380%;
    max-width: 22.3%;
    transition: transform .5s;
    opacity: 1; 
}

#k3k5:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k3k6 {
    position:absolute;
    left:12.3%;
    top:30%;
    max-width: 25.1%;
    transition: transform .5s;
    opacity: 1; 
}

#k3k6:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}
#k3k7 {
    position:absolute;
    left:1.5%;
    top:-500%;
    max-width: 96%;
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  	filter: drop-shadow(5px 5px 5px #222);
}

.box{
    width: 400px;
    height: auto;
}

#week_3, #week_4 {
    width:200px;
    height:200px;
    border:2px solid red;
    float:left;
}