
.office {
    width: 100%;
	height: calc(100vh - 120px);
	margin-top: 10px;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#counter {
    position: relative;
    display: inline;
}
#k6k1 {
    position:absolute;
	left:68%;
    top:-105%;
    max-width: 14%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k1:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k2 {
    position:absolute;
	left:80%;
    top:0%;
    max-width: 12.5%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k2:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}


#k6k3 {
    position:absolute;
	left:80%;
    top:-330%;
    max-width: 5%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k3:hover {
    transform: scale(1.5); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k4 {
    position:absolute;
	left:72.5%;
    top:-490%;
    max-width: 5%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k4:hover {
    transform: scale(1.5); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k5 {
    position:absolute;
	left:65%;
    top:-650%;
    max-width: 5%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k5:hover {
    transform: scale(1.5); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k55 {
    position:absolute;
	left:87.5%;
    top:-170%;
    max-width: 5%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k55:hover {
    transform: scale(1.5); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}




#k6k6 {
    position:absolute;
	left:53%;
    top:650%;
    max-width: 23.4%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k6:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k7 {
    position:absolute;
	left:25%;
    top:400%;
    max-width: 15%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k7:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}
#k6k8 {
    position:absolute;
	left:45.4%;
    top:1000%;
    max-width: 6.8%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k8:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k9 {
    position:absolute;
	left:13%;
    top:300%;
    max-width: 12%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k9:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k10 {
    position:absolute;
	left:75%;
    top:150%;
    max-width: 10.3%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k10:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k14 {
    position:absolute;
	left:38%;
    top:100%;
    max-width: 30%;
    transition: transform .5s; 
	opacity: 1;
}
/* 
#k6k14:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
} */

#k6k15 {
    position:absolute;
	left:38%;
    top:-750%;
    max-width: 20%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k15:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
} 

#k6k16 {
    position:absolute;
	left:25%;
    top:-250%;
    max-width: 9%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k16:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
} 


#k6k11 {
    position:absolute;
	left:76%;
    top:225%;
    max-width: 3.8%;
    transition: transform .5s; 
	opacity: 1;
}

#k6k11:hover {
    transform: scale(1.4); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

#k6k12 {
    position:absolute;
	left:10%;
    top:-1055%;
    max-width: 86.5%;
    transition: transform .5s; 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.box{
    width: 500px;
    height: auto;
}

#week_3, #week_4 {
    width:200px;
    height:200px;
    border:2px solid red;
    float:left;
}